---
layout: default
title: Home
---

<div id="main-content">

    <section id="index">
        {% include carousel.html %}
        
        {% if site.live_radio %}
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <iframe src="http://thecore.fm/broadbandflash.html" width="100%"></iframe>
                    </div>
                </div>
            </div>
        {% endif %}
    </section>

    {% if site.releases %}
        <section id="releases" class="releases portfolio">
            {% include releases.html %}
        </section>
    {% endif %}

    {% if site.artists %}
        <section id="artists" class="artists portfolio">
            {% include artists.html %}
        </section>
    {% endif %}

    {% if site.radio %}
        <section id="radio" class="portfolio">
            {% include radio.html %}
        </section>
    {% endif %}

    {% if site.store %}
        <section id="store" class="portfolio">
            {% include store.html %}
        </section>
    {% endif %}

</div> 