---
layout: default
title: Home
---

<div id="header-container">
    <header>
<div class="container" id="carouselContainer">
  <div class="row">
    <div class="col-md-10 col-md-offset-1" style="">
    <div id="portfolioCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators" style="display:none;">
        {% for carousi in site.categories['featured'] %}
          <li data-target="#portfolioCarousel" data-slide-to="{{ forloop.index0 }}" class="{% if forloop.index0 == 0 %} active {% endif %}"></li>
        {% endfor %}
      </ol>
      <div class="carousel-inner" role="listbox">
        {% for carousi in site.categories['featured'] %}
            <div class="item {% if forloop.index0 == 0 %} active {% endif %}">
                <a href="{{ carousi.url }}"> <img src="/assets/img/carousel/{{ carousi.cid }}.jpg"> </a>
            </div>
        {% endfor %}
      </div>
      <a class="left carousel-control" href="#portfolioCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#portfolioCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    </div>
  </div>
</div>
    </header>
</div>

<section id="releases">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-offset-1">
            <h4>Latest Releases</h4>
            </div>
              {% for release in site.categories['releases'] limit:5 %}
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 
                {% if forloop.first %} col-lg-offset-1 col-md-offset-1 {% endif %}
                {% if forloop.last %} hidden-sm hidden-xs {% endif %}">
                    <a href="{{ release.url }}">
                      <img src="/assets/img/releases/{{ release.cid }}.jpg" class="img-responsive entry">
                    </a>
                </div>
              {% endfor %}
        </div>
    </div>
</section>