---
layout: page
title: Projects
subtitle: I'm always up to something
---

{% for project in site.data.completed-projects %}
	<div class="panel project-panel radius">
		<div class="row">
			<div class="large-12 medium-12 small-12 columns">
				<div class="row">
					<div class="large-1 medium-1 small-1 columns">
						<h3><i class="fa fa-code-fork"></i></h3>
					</div>
					<div class="large-9 medium-9 small-9 columns">
						<h4>
							<a target="_blank" title="github" href="{{ project.github }}">{{ project.name }}</a>
						</h4> 
						<p>{{ project.description }}</p>
					</div>

					<div class="large-2 medium-2 small-2 columns text-right">
						<span class="label radius">{{ project.language }}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endfor %}

{% for coursework in site.data.coursework %}
	<div class="panel project-panel radius">
		<div class="row">
			<div class="large-12 medium-12 small-12 columns">
				<div class="row">
					<div class="large-1 medium-1 small-1 columns">
						<h3><i class="fa fa-folder-open-o"></i></h3>
					</div>
					<div class="large-9 medium-9 small-9 columns">
						<h4>
							<a target="_blank" title="github" href="{{ coursework.github }}">{{ coursework.name }}</a>
						</h4> 
						<p>{{ coursework.description }}</p>
					</div>

					<div class="large-2 medium-2 small-2 columns text-right">
						<span class="label radius">{{ coursework.language }}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endfor %}

