---
layout: page
title: Projects
subtitle: I'm always up to something
---

<h2>Completed</h2>

{% for project in site.data.completed-projects %}
<div class="panel project-panel">
	<div class="row">
		<div class="large-12 medium-12 small-12 columns">
				<div class="row">
					<div class="large-6 medium-6 small-6 columns">
						<h3>

						{{project.name}}

						{% if project.github %}
							<a target="_blank" title="github" href="{{coursework.github}}"><i class="fa fa-github"></i></a>
						{% endif %}

						</h3> 
					</div>

					<div class="large-6 medium-6 small-6 columns text-right">
						{% for tag in project.tags %}
							<span class="label radius">{{ tag }}</span>
						{% endfor %}
					</div>

				</div>
			<p>{{ project.description }}</p>
		</div>
	</div>
</div>
{% endfor %}

<h2>Coursework</h2>

{% for coursework in site.data.coursework %}
	<div class="panel project-panel">
		<div class="row">
			<div class="large-12 medium-12 small-12 columns">
				<div class="row">
					<div class="large-6 medium-6 small-6 columns">
						<h3>
							{{coursework.name}}

							{% if coursework.github %}
								<a target="_blank" title="github" href="{{coursework.github}}"><i class="fa fa-github"></i></a>
							{% endif %}

							{% if coursework.notes %}
								<a title="github" href="{{coursework.notes}}"><i class="fa fa-book"></i></a>
							{% endif %}
						</h3> 
					</div>

					<div class="large-6 medium-6 small-6 columns text-right">
						<span class="label radius">{{coursework.time}}</span>
						{% for language in coursework.languages %}
							<span class="label radius">{{language}}</span>
						{% endfor %}
					</div>

				</div>

				<p>{{coursework.description}}</p>

			</div>
		</div>
	</div>
{% endfor %}

