<div class="container">
    <div class="col-lg-12 text-center">
        <h2>Artists</h2>
        <hr class="star-primary">
    </div>
    <div class="row">
        {% for artist in site.data.artists %}
            <div class="col-sm-4 portfolio-item">
                <a href="{{ artist.soundcloud }}" target="_blank" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-arrow-circle-o-up fa-3x"></i>
                        </div>
                    </div>
                    <img src="/assets/artists/{{ artist.id }}.jpg" class="img-responsive artist" alt="">
                </a>
                <p class="text-center">{{ artist.name }}</p>
            </div>
        {% endfor %}
    </div>
</div>