<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div id="carousel" class="carousel slide">
                <div class="carousel-inner">

                    <div class="active item">
                        <a href="#{{ site.data.carousel.first.id }}" class="portfolio-link" data-toggle="modal">
                            <img src="/assets/carousel/{{ site.data.carousel.first.id }}.jpg" alt="Slide1" />
                        </a>
                    </div>

                    {% for carousi in site.data.carousel offset:1 %}
                        <div class="item">
                            <a href="#{{ carousi.id }}" target="_blank" class="portfolio-link" data-toggle="modal">
                                <img src="/assets/carousel/{{ carousi.id }}.jpg" alt="Slide3" />
                            </a>
                        </div>
                    {% endfor %}

                </div>
                <a class="carousel-control left" href="#carousel" data-slide="prev">‹</a>
                <a class="carousel-control right" href="#carousel" data-slide="next">›</a>
            </div>
        </div>
    </div>
</div>