<footer id="footer">
	<div class="row">
		<p></p>
		<div class="large-3 large-offset-1 columns">
			<p>© {{ site.time | date: '%Y' }} {{ site.author.name }}</p>
		</div>
		<div class="large-6 columns">
				<ul class="button-group" id="socialButtonGroup">
					{% if site.social.facebook %}
						<li>
							<a class="tiny button facebook" target="_blank" title="Facebook" href="http://www.facebook.com/{{ site.social.facebook }}">
								<i class="fa fa-facebook fa-lg"></i>
							</a>
						</li>
					{% endif %}
					{% if site.social.twitter %}
						<li>
							<a class="tiny button twitter" target="_blank" title="Twitter" href="http://www.twitter.com/{{ site.social.twitter }}">
								<i class="fa fa-twitter fa-lg"></i>
							</a>
						</li>
					{% endif %}
					{% if site.social.google-plus %}
						<li>
							<a class="tiny button google-plus" target="_blank" title="google-plus" href="http://www.plus.google.com/+{{ site.social.google-plus }}">
								<i class="fa fa-google-plus fa-lg"></i>
							</a>
						</li>
					{% endif %}
					{% if site.social.soundcloud %}
						<li>
							<a class="tiny button soundcloud" target="_blank" title="soundcloud" href="http://www.soundcloud.com/{{ site.social.soundcloud }}">
								<i class="fa fa-cloud fa-lg"></i>
							</a>
						</li>
					{% endif %}
					{% if site.social.youtube %}
						<li>
							<a class="tiny button youtube" target="_blank" title="youtube" href="http://www.youtube.com/{{ site.social.youtube }}">
								<i class="fa fa-youtube fa-lg"></i>
							</a>
						</li>
					{% endif %}
					{% if site.social.instagram %}
						<li>
							<a class="tiny button instagram" target="_blank" title="instagram" href="http://www.instagram.com/{{ site.social.instagram }}">
								<i class="fa fa-instagram fa-lg"></i>
							</a>
						</li>
					{% endif %}
					{% if site.social.linkedin %}
						<li>
							<a class="tiny button linkedin" target="_blank" title="linkedin" href="http://linkedin.com/in/{{ site.social.linkedin }}">
								<i class="fa fa-linkedin fa-lg"></i>
							</a>
						</li>
					{% endif %}
					{% if site.social.foursquare %}
						<li>
							<a class="tiny button foursquare" target="_blank" title="foursquare" href="http://foursquare.com/{{ site.social.foursquare }}">
								<i class="fa fa-foursquare fa-lg"></i>
							</a>
						</li>
					{% endif %}
					{% if site.social.github %}
						<li>
							<a class="tiny button github" target="_blank" title="github" href="http://github.com/{{ site.social.github }}">
								<i class="fa fa-github fa-lg"></i>
							</a>
						</li>
					{% endif %}
					{% if site.social.email %}
						<li>
							<a class="tiny button email" target="_blank" title="email" href="mailto:{{ site.social.email }}">
								<i class="fa fa-envelope fa-lg"></i>
							</a>
						</li>
					{% endif %}
				</ul>
			</div>
	</div>
</footer>
