<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{{ site.javascript-dir }}/foundation.min.js"></script>
<script src="{{ site.javascript-dir }}/jquery.toc.min.js"></script>
<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

<script type="text/x-mathjax-config">
MathJax.Hub.Config( {
	"HTML-CSS": { 
        availableFonts: [], 
        preferredFont: null, 
        webFont: "TeX", 
        scale: 90,
        linebreaks: { automatic: true, width: "container" }   
	},
	tex2jax: {
        inlineMath: [['$','$'], ['$$','$$'], ['\\(','\\)']],
        processEscapes: true
    },
    TeX: {
        multiLine: true,
        Macros: {
          NN: '{\\bf N}',
          abs: ['\\left|{#1}\\right|',1],
          bra: ['\\langle{#1}|',1],
          ket: ['{|{#1}\\rangle}',1],
          vev: ['{\\langle{#1}\\rangle}',1],
          braket: ['\\langle{#1}|{#2}\\rangle',2]
        }
    }
});
</script>

<script>
	$(document).foundation();
	$(window).bind("load", function () {
	var footer = $("footer");
	var pos = footer.position();
	var height = $(window).height();
	height = height - pos.top;
	height = height - footer.height();
	if (height > 0) {
		footer.css({
			'margin-top': height + 'px'
		});
	}
	});
	$("pre").addClass("prettyprint");
	$("code").addClass("prettyprint");
	$("table").addClass("responsive");
</script>

<script src="{{ site.javascript-dir }}/responsive-tables.js"></script>
<script src="{{ site.javascript-dir }}/run_prettify.js"></script>
