<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{{ site.javascript-dir }}/foundation.min.js"></script>

<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

<script type="text/x-mathjax-config">
MathJax.Hub.Config( {
	"HTML-CSS": { 
		availableFonts: [], preferredFont: null, webFont: "TeX", scale: 95 
	},
	tex2jax: {
		inlineMath: [['$','$'], ['$$','$$'], ['\\(','\\)']]
	}
});
</script>

<script>
	$(document).foundation();
	$(window).bind("load", function () {
	var footer = $("#footer");
	var pos = footer.position();
	var height = $(window).height();
	height = height - pos.top;
	height = height - footer.height();
	if (height > 0) {
		footer.css({
			'margin-top': height + 'px'
		});
	}
	});
	$("pre").addClass("prettyprint");
	$("code").addClass("prettyprint");
</script>

<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
