<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1" style="">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="{% if page.title == 'Home' %}#page-top{% else %}/index.html{%endif%}"><img src="/assets/img/logo.png" style="height: 60px; margin-top:-15px;" class="img-responsive"></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="{% if page.active == 'releases' %}active{% endif %}">
                    <a href="/releases.html">Releases</a>
                </li>
                <li class="{% if page.active == 'artists' %}active{% endif %}">
                    <a href="/artists.html">Artists</a>
                </li>
                <li class="{% if page.active == 'radio' %}active{% endif %}">
                    <a href="/radio.html">Radio</a>
                </li>
                <li class="{% if page.active == 'blog' %}active{% endif %}">
                    <a href="/blog.html">Blog</a>
                </li>
                <li>
                    <a href="http://wearewildjokers.storenvy.com">Store</a>
                </li>
        </div>
        </div>
        </div>
    </div>
</nav>
