<section id="radio" class="portfolio">
    <div class="container">
        {% if page.title == 'Home'%}
        <div class="row">
        {% else %}
        <div class="row" style="margin-top:20px;">
        {% endif %}
            <div class="col-lg-12 text-center">
                <h2>Radio</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            {% if page.title == 'Home' %}
                {% for show in site.data.radio limit:2 %}
                    <div class="col-sm-4 portfolio-item">
                        <a href="#{{ show.id }}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-expand fa-3x"></i>
                                </div>
                            </div>
                            <img src="/img/radio/{{ show.id }}.jpg" class="img-responsive" alt="">
                        </a>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-sm-4 portfolio-item">
                    <a href="http://thecore.fm/broadbandflash.html" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-arrow-circle-o-up fa-3x"></i>
                                <p>Streaming</p>
                            </div>
                        </div>
                        <img src="/img/radio/WJRR999.jpg" class="img-responsive" alt="">
                    </a>
                </div>
                {% for show in site.data.radio %}
                    <div class="col-sm-4 portfolio-item">
                        <a href="#{{ show.id }}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-expand fa-3x"></i>
                                </div>
                            </div>
                            <img src="/img/radio/{{ show.id }}.jpg" class="img-responsive" alt="">
                        </a>
                    </div>
                {% endfor %}
            {% endif %}

            {% if page.title == 'Home'%}
                <div class="col-sm-4 portfolio-item">
                    <a href="/radio/" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-arrow-circle-o-right fa-3x"></i>
                            </div>
                        </div>
                        <img src="/img/radio/more.jpg" class="img-responsive" alt="">
                    </a>
                </div>
            {% endif %}
            
        </div>
    </div>
</section>

{% for show in site.data.radio %}
    <div class="portfolio-modal modal fade" id="{{ show.id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ show.title }}</h2>
                            <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url={{ show.sc_embed_url }}&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}