<div class="container">
  <div class="col-lg-12 text-center">
    <h2>Radio</h2>
    <hr class="star-primary">
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="panel panel-default">
        <table class="table">
          <tbody>
            {% for show in site.data.radio %}
              <tr>
                <td><h4>#{{ forloop.rindex }}</h4></td>
                <td><img src="/assets/radio/{{ show.id }}.jpg" width="42px" class="img-thumbnail" alt="Thumbnail Image"></td>
                <td><h4>{{ show.title }}</h4></td>
                <td><a href="{{ show.link }}"><i class="fa fa-play-circle fa-3x"></i></a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

