<div class="container">
    <div class="col-lg-12 text-center">
            <h2>Releases</h2>
            <hr class="star-primary">
    </div>
    <div class="row">
        {% for release in site.data.releases %}
            <div class="col-sm-3 portfolio-item">
                <a id="{{ release.id }}" class="portfolio-link">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-play-circle fa-3x"></i>
                        </div>
                    </div>
                    <img src="/assets/releases/{{ release.id }}.jpg" class="img-responsive" alt="">
                </a>
            </div>
        {% endfor %}
    </div>
</div>