<div class="center-button-group-wrap" style="padding-top:20px;">
	<ul class="button-group center-button-group radius">
		{% for item in site.social %}
			{% if item.icon %}
				<li>
					<a class="button secondary {{ item.service }}" target="_blank" title="{{ item.service }}" href="{{ item.link }}">
						<i class="fa fa-{{ item.icon }} fa-lg"></i>
					</a>
				</li>
			{% else %}
				<li>
					<a class="button secondary {{ item.service }}" target="_blank" title="{{ item.service }}" href="{{ item.link }}">
						<i class="fa fa-{{ item.service }} fa-lg"></i>
					</a>
				</li>
			{% endif %}
		{% endfor %}
	</ul>
</div>