<section class="top-bar-section">
<ul class="right" class="top-bar-section">
	{% if site.social.facebook %}
		<li>
			<a class="facebook" target="_blank" title="Facebook" href="http://www.facebook.com/{{ site.social.facebook }}">
				<i class="fa fa-facebook fa-lg"></i>
			</a>
		</li>
	{% endif %}
	{% if site.social.twitter %}
		<li>
			<a class="twitter" target="_blank" title="Twitter" href="http://www.twitter.com/{{ site.social.twitter }}">
				<i class="fa fa-twitter fa-lg"></i>
			</a>
		</li>
	{% endif %}
	{% if site.social.google-plus %}
		<li>
			<a class="google-plus" target="_blank" title="google-plus" href="http://www.plus.google.com/+{{ site.social.google-plus }}">
				<i class="fa fa-google-plus fa-lg"></i>
			</a>
		</li>
	{% endif %}
	{% if site.social.soundcloud %}
		<li>
			<a class="soundcloud" target="_blank" title="soundcloud" href="http://www.soundcloud.com/{{ site.social.soundcloud }}">
				<i class="fa fa-cloud fa-lg"></i>
			</a>
		</li>
	{% endif %}
	{% if site.social.youtube %}
		<li>
			<a class="youtube" target="_blank" title="youtube" href="http://www.youtube.com/{{ site.social.youtube }}">
				<i class="fa fa-youtube fa-lg"></i>
			</a>
		</li>
	{% endif %}
	{% if site.social.instagram %}
		<li>
			<a class="instagram" target="_blank" title="instagram" href="http://www.instagram.com/{{ site.social.instagram }}">
				<i class="fa fa-instagram fa-lg"></i>
			</a>
		</li>
	{% endif %}
	{% if site.social.linkedin %}
		<li>
			<a class="linkedin" target="_blank" title="linkedin" href="http://linkedin.com/in/{{ site.social.linkedin }}">
				<i class="fa fa-linkedin fa-lg"></i>
			</a>
		</li>
	{% endif %}
	{% if site.social.foursquare %}
		<li>
			<a class="foursquare" target="_blank" title="foursquare" href="http://foursquare.com/{{ site.social.foursquare }}">
				<i class="fa fa-foursquare fa-lg"></i>
			</a>
		</li>
	{% endif %}
	{% if site.social.github %}
		<li>
			<a class="github" target="_blank" title="github" href="http://github.com/{{ site.social.github }}">
				<i class="fa fa-github fa-lg"></i>
			</a>
		</li>
	{% endif %}
	{% if site.social.email %}
		<li>
			<a class="email" target="_blank" title="email" href="mailto:{{ site.social.email }}">
				<i class="fa fa-envelope fa-lg"></i>
			</a>
		</li>
	{% endif %}
</ul>
</section>