<div class="block">
            <div id="carousel" class="carousel slide">
                <div class="carousel-inner">
                    {% for carousi in site.data.carousel %}
                        <div class="item {% if forloop.index == 1 %} active {% endif %}">
                            <a {% if carousi.play-id == null %} href="{{ carousi.link }}" target="_blank" 
                               {% else %} id="{{ carousi.play-id }}" href="#" onclick="return false;"
                               {% endif %}> <img src="/assets/carousel/{{ carousi.id }}.jpg" /> </a>
                        </div>
                    {% endfor %}
                </div>
                <a class="carousel-control left" href="#carousel" data-slide="prev">‹</a>
                <a class="carousel-control right" href="#carousel" data-slide="next">›</a>
            </div>
</div>