---
layout: page
title: Blog
subtitle: A twenty-something on technology and philosophy
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="row">
    <div class="large-12 columns">
      <h2 class="post-title">
        <a href="{{ post.url }}">
          {{ post.title }}
        </a>
      </h2>

      <h3><small>{{ post.date | date_to_string }}</small></h3>

      {{ post.content }}
    </div>
  </div>
  {% endfor %}
</div>

<div class="row">
  <div class="pagination">
    <div class="large-12 columns">
      {% if paginator.next_page %}
        <a class="button" href="/blog/page{{paginator.next_page}}">Older</a>
      {% else %}
        <a class="button disabled">Older</a>
      {% endif %}
      {% if paginator.previous_page %}
        {% if paginator.page == 2 %}
          <a class="button" href="/blog/">Newer</a>
        {% else %}
          <a class="button" href="/blog/page{{paginator.previous_page}}">Newer</a>
        {% endif %}
      {% else %}
        <a class="button disabled">Newer</a>
      {% endif %}
    </div>
  </div>
</div>