---
layout: page
title: "Sudophilosophical" 
subtitle: On philosophy and technology
---

{% include paginate-blog.html %}

<div class="posts">
	{% for post in paginator.posts %}
	<div class="row">
		<div class="large-12 columns">
			<h2 class="post-title">
				<a href="{{ post.url }}">
					{{ post.title }}
				</a>
			</h2>

			<h3><small><i class="fa fa-calendar"></i> {{ post.date | date_to_string }}</small></h3>

			{{ post.content }}

			<hr>
		</div>
	</div>
	{% endfor %}
</div>

{% include paginate-blog.html %}