<!DOCTYPE html>

	{% include head.html %}

	<body>

		{% include nav.html %}

		{{ content }}

		{% include foot.html %}
		{% include js.html %}
		{% include ga.html %}

  </body>
</html>
<link rel="stylesheet" href="{{ site.stylesheet-dir }}/prettify.css" type="text/css">
<link rel="stylesheet" href="{{ site.stylesheet-dir }}/responsive-tables.css" type="text/css">
<link rel="stylesheet" href="{{ site.stylesheet-dir }}/print.css" type="text/css">

<link rel="apple-touch-icon-precomposed" href="{{ site.images-dir }}/apple-touch-icon-144-precomposed.png" sizes="144x144" >
<link rel="shortcut icon" href="{{ site.images-dir }}/favicon.ico">