---
layout: default
---

<header style="background-image:url({{site.images-dir}}/moher.jpg); background-size:cover;">
	<div class="row">
		<div class="large-10 large-offset-1 columns">
			<h1>{{ page.title }}</h1>
			<h4>{{ page.subtitle }}</h4>
		</div>
	</div>
</header>

<div class="row">
	<div class="large-10 large-offset-1 columns">

		{% include breadcrumbs.html %}

		<article>
			<div class="row">
				<div class="large-12 columns">
					{% for link in site.navigation %}
						{% if link.text == 'Notes' %}
							{% for sublink in link.subnavigation %}
								{% if page.title == 'Notes' %}
									<a href="{{ sublink.url }}" class="button expand">{{ sublink.text }}</a>
								{% else %}
									{% if sublink.text == page.title %}

										{% assign currentSection = nil %}
										{% assign previousSection = nil %}

										{% for subsublink in sublink.subnavigation %}

											{% if subsublink.section %}
												{% assign currentSection = subsublink.section %}
											{% endif %}

											{% if previousSection != currentSection %}
												<h3>{{ currentSection }}</h3>
												{% assign previousSection = currentSection %}
											{% endif %}

											<a href="{{ subsublink.url }}" class="button expand">{{ subsublink.text }}</a>

										{% endfor %}
									{% endif %}
								{% endif %}
							{% endfor %}
						{% endif %}
					{% endfor %}
				</div>
			</div>

			{{ content }}
			
		</article>
	</div>
</div>